@import 'tailwindcss';
@plugin "daisyui";

@source "../views";
@source "../js";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  body {
    min-height: 100vh;
  }
}
